* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: url('./img/header_img.png');
    background-size: cover;
    color: white;
    height: 500px;
}

.navbar {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar--logo {
    background-color: #5786DE;
    width: 107px;
    height: 60px;
}

.navbar--menu {
    font-size: 16px;
    margin-left: 42px;
    text-decoration: none;
    color: white;
}

.banner {
    width: 1440px;
    margin: 0 auto;
    padding-left: 156px;
    margin-top: 138px;
}

.banner--title {
    font-size: 44px;
}

.banner--subtitle {
    font-size: 24px;
    letter-spacing: 26px;
    margin-top: 8px;
    opacity: 0.8;
}

.product {
    width: 1200px;
    margin: 0 auto;
    background-color: #F4F4F4;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -60px;
}

.product--row {
    display: flex;
    height: 230px;
}

.product--block {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product--block>div {
    height: 175px;
}

.product--block h3 {
    font-size: 24px;
}

.product--block p {
    font-size: 14px;
    width: 224px;
    color: rgba(0, 0, 0, 0.5);
}

.service {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

.service--section {
    display: flex;
    height: 480px;
    align-items: center;
}

.service--section:not(:first-child) {
    border-top: 1px solid #EEEEEE;
}

.service--section .left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.service--section h3 {
    font-size: 36px;
}

.service--section .item {
    display: flex;
    align-items: center;
    width: 424px;
    height: 128px;
}

.service--section .item:not(:first-child) {
    border-top: 1px solid #EEEEEE;
}

.service--section .item .label {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 24px;
    color: #749DE8;
}

.service--section .item .description {
    flex-grow: 2;
    flex-basis: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.service--section .item .description p {
    margin: 0;
}

.service--section .info2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.service--section .logo-container {
    margin-top: 32px;
}

.service--section .logo {
    width: 40px;
    height: 40px;
    background-color: #749DE8;
    float: left;
}

.service--section .logo:not(:first-child) {
    margin-left: 32px;
}

.advantage {
    width: 1200px;
    height: 460px;
    margin: 0 auto;
    background-color: #5786DE;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: -120px;
}

.aboutus {
    height: 640px;
    background-color: #041B3F;
}