* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: url('./img/header_img.png');
    background-size: cover;
    color: white;
    height: 500px;
}

.navbar {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar--logo {
    background-color: #5786DE;
    width: 107px;
    height: 60px;
}

.navbar--menu {
    font-size: 16px;
    margin-left: 42px;
    text-decoration: none;
    color: white;
}

.banner {
    width: 1440px;
    margin: 0 auto;
    padding-left: 156px;
    margin-top: 138px;
}

.banner--title {
    font-size: 44px;
}

.banner--subtitle {
    font-size: 24px;
    letter-spacing: 26px;
    margin-top: 8px;
    opacity: 0.8;
}

.product {
    width: 1200px;
    margin: 0 auto;
    background-color: #F4F4F4;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -60px;
}

.product--row {
    display: flex;
    height: 230px;
}

.product--block {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product--block>div {
    height: 175px;
}

.product--block h3 {
    font-size: 24px;
}

.product--block p {
    font-size: 14px;
    width: 224px;
    color: rgba(0, 0, 0, 0.5);
}

.service {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

.service--section {
    display: flex;
    height: 480px;
    align-items: center;
}

.service--section:not(:first-child) {
    border-top: 1px solid #EEEEEE;
}

.service--section .left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 74px;
    background-image: url('./img/Group.svg');
}

.service--section h3 {
    font-size: 36px;
}

.service--section .item {
    display: flex;
    align-items: center;
    width: 424px;
    height: 128px;
}

.service--section .item:not(:first-child) {
    border-top: 1px solid #EEEEEE;
}

.service--section .item .label {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 24px;
    color: #749DE8;
}

.service--section .item .description {
    flex-grow: 2;
    flex-basis: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.service--section .item .description p {
    margin: 0;
}

.service--section .info2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.service--section .logo-container {
    margin-top: 32px;
}

.service--section .logo {
    width: 40px;
    height: 40px;
    float: left;
}

.service--section .logo:not(:first-child) {
    margin-left: 32px;
}

.advantage {
    width: 1200px;
    height: 460px;
    margin: 0 auto;
    background-color: #5786DE;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: -120px;
    display: flex;
    flex-direction: column;
}

.aboutus {
    height: 640px;
    background-color: #041B3F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad1 {
    width: 600px;
    margin: 0px 83px;
    margin-top: 30px;
}

.ad1 h1 {
    font-size: 36px;
    color:#FFFFFF;
    font-weight: 500;
}

.ad1 p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.76);
}

.ad2 {
    display: flex;
    color: white;
    width: 900px;
    margin: 30px 83px;
    padding-top: 40px;
    border-top: 1px solid #ffffff5c;
}

.ad2-1 {
    padding-right: 40px;
}

.ad2-2 {
    font-size: 24px;
}

.ad2-3 {
    color: #ffffffbd;
    font-size: 14px;
}

.aboutus {
    color: white;
}

.aboutus .left {
    width: 600px;
    padding-left: 130px;
}

.aboutus .left h3 {
    color:rgba(255,255,255,1);
    font-size: 30px;
}

.aboutus .left button{
    width:144px;
    height:44px; 
    background:linear-gradient(174.6deg,rgba(87,134,222,1),rgba(23,65,143,1));
    border-radius: 4px; 
    font-size:16px;
    color:rgba(255,255,255,1);
    line-height:24px;
    border: none;
}

.aboutus .left button:hover {
    cursor: pointer;
}

.aboutus .right {

}

.r1 {
    display: inline-block;
    padding: 60px;
    width: 350px;
    font-size:16px;
    color:rgba(255,255,255,0.85);
    line-height:22px;
}

.r2 {
    border-right: 1px solid #ffffff14;
}

.r3 {
    border-bottom: 1px solid #ffffff14;
    border-right: 1px solid #ffffff14;
}

.r4 {
    border-bottom: 1px solid #ffffff14;
}

.sup {
    color: #5584DC;
    font-size: 16px;
}

.num {
    font-size: 71px;
    color:rgba(255,255,255,0.29);
    line-height:54px;
    padding-right: 30px;
}

.x {
    display: inline-block;
}

.navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.y{
    padding-left: 70px;
}