body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Roboto,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Microsoft Jhenghei,sans-serif;;
}

.header {
    background-image:url('./img/header_img.png') ;
    background-size: cover;
    color: white;
    height: 550px;
    position: relative;
    overflow: hidden;
}

.top {
    position: sticky;
    top: 24px;
}

a {
    margin-left: 443px;
}

.tabs {
    display: inline-block;
    margin-left: 100px;
}

span {
    display: inline-block;
    width: 150px;
    height: 100px;
}

.img2 {
    width: 500px;
    height: 200px;
}

.banner {
    margin-left: 364px;
    margin-top: 100px;
}

h1 {
    font-size: 2.5em;
    line-height: 1.45;
    font-size: 44px;
}

.t2 {
    opacity: 0.8;
    letter-spacing: 26px;
    font-size: 24px;
}

.p-h {
    display: flex;
    align-items: center;
    justify-content: center;
}

.we {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0 0 0.8rem;
    color: #2b3945;
    margin: 50px 0 50px 0;
}

.part1 {
    width: 1200px;
    margin: 0px 305px;
    position: absolute;
    top: 491px;
    z-index: 10;
    background: white;
    padding: 0 64px;
}

.c1,.c2 {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    line-height: 1.2;
    color: #2b3945;
}

.t1{
    font-size: 14px;
}

.block {
    width: 360px;
}

.icon {
    margin: 10px 0 20px -3px;
}

.part2 {
    position: absolute;
    top: 1000px;
    background-color: lightblue;
    margin:0px 305px;
    width: 1200px;
    padding: 0 64px;
}


.left2 {
    display: inline-block;
    width: 600px;
    font-size: 36px;
    font-weight: 600;
    position: relative;
}

.m {
    position: absolute;
    top: -180px;
}

.right2 {
    display: inline-block;
    /* width: 400px; */
    list-style: none;
}

/* .common-BodyText {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 1210px; 
    margin: 30px 450px;  
}

li {
    list-style: none;
    width: 360px;
} */

