:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);

    --dark-bg-color: #002766;
    --dark-font-color: #ffffff;
    --dark-font-sub-color: #bfbfbf;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
    background-image: url(./img2/header-bg.png);
    background-size: cover;
}

.header {
    font-size: 2.5rem;
    padding: 0.4em 0.8em;
}

.header .logo {
    height: 2rem;
    vertical-align: middle;
}

.menu {
    position: relative;
    color: var(--dark-font-color);
}

.menu-toggle {
    border: 0;
    background-color: transparent;
    font-size: 3rem;
    width: 1em;
    height: 1em;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: -1.3em;
    right: 0.6em;
}

.menu-toggle::after {
    color: var(--dark-font-color);
    position: absolute;
    top: -0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #262626;
}

.menu.is-open .menu-dropdown {
    display: block;
}

.nav-menu {
    list-style-type: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 1.8em;
}

.nav-menu li {
    padding: 1em 0;
}

.nav-menu li + li {
    border-top: 1px solid var(--dark-font-sub-color);
}

.nav-menu li a {
    color: var(--dark-font-color);
}

.banner {
    font-size: 2.5rem;
    padding: 0.4em 0.8em;
    color: var(--dark-font-color);
}

.banner-title {
    font-size: 1.5rem;
    padding: 0.2em 0;
}

.banner-subtitle {
    font-size: 1.2rem;
    padding: 0.2em 0;
    letter-spacing: 0.4em;
    color: var(--dark-font-sub-color);
}
